body {
	margin: 0px;
    position: relative;
    font-family: 'Raleway', sans-serif;
    font-weight: lighter;
    color: #75B9BE;
    background-color: rgba(24, 24, 24, 1);
}

/* START OF HOME CONTAINER */

/* HOME CSS */

.home-container {
	height: 610px;
	width: 100%;
	background-color: rgba(0, 52, 70, 1);
	position: relative;
}

.moon-img {
	height: 100%;
	width: 100%;
	overflow: hidden;
	object-fit: cover;
	position: relative;
	margin: 0px;
}

.name {
	font-family: 'Homemade Apple', cursive;
	position: absolute;
	color: #CDE6F5;
	font-size: 63px;
	top: 350px;
	left: 430px;
	z-index: 100;
}

.blurb {
	position: absolute;
	/*font-size: 17px;*/
	font-size: 16px;
	top: 450px;
	left: 600px;
	z-index: 100;
}

/* END OF HOME CONTAINER */

/* START OF CONTENT CONTAINER */

.content-container {
    position: relative;
    /*top: calc(100% - 60px);*/
}

.container {
    /*width: 960px;*/
    width: 100%;
    margin: 0px auto;
}

.section-item {
	float: left;
	padding: 25px;
	margin: 0px;
	left: 50%;
	-webkit-transform: translateX(33%) translateY(10%);
    -moz-transform: translateX(33%) translateY(10%);
   	transform: translateX(33%) translateY(10%);
}

.section-item img {
	height: 300px;
	width: 300px;
	overflow: hidden;
	object-fit: cover;
}

.toggle {
	cursor: pointer;
}

.popover {
	background: black;
	width: 300px;
	opacity: 0;
	color: white;
	text-align: center;
	height: 300px;
	position: absolute;
	top: 25px;
	transition: 0.4s;
}

.popover-active {
    opacity: 0.8;
    z-index: 100;
    cursor: pointer;
    /*transform: translateY(20px);*/
}

/*.button-link {
	background-color: rgba(0, 52, 70, 1);
	border-radius: 5px;
	color: white;
	padding: 10px;
	width: 70px;
	position: absolute;
	top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-30%);
    -moz-transform: translateX(-50%) translateY(-30%);
   	transform: translateX(-50%) translateY(-30%);
}*/

/* NAV CSS */

a {
	text-decoration: none;
	color: #75B9BE;
	opacity: 1;
	transition: 1s;
}

a:hover {
	opacity: 0.5;
	transition: 1s;
}

#nav {
	height: 60px;
	width: 100%;
	background-color: rgba(0, 52, 70, 1);
	/*background-color: white;*/
}

.nav-title {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 6px;
    float: left;
    line-height: 24px;
    padding: 20px;
    margin-left: 20px;
}

.nav-item-container {
    float: right;
    padding: 20px;
}

.clear {
    clear: both;
}

.nav-item {
    float: left;
    font-size: 16px;
    line-height: 24px;
    margin-left: 36px;
    font-weight: 300;
    margin-right: 20px;
}

/* ABOUT CSS */

#about {
	height: 500px;
	position: relative;
	background-color: rgba(24, 24, 24, 1);
}

.description {
	top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
   	transform: translateX(-50%) translateY(-50%);
	position: absolute;
	font-size: 34px;
}

/* BOOKS CSS */

#books {
	height: 900px;
	position: relative;
	background-color: rgba(24, 24, 24, 1);
	margin-top: 60px;
}

.books-title {
	text-align: center;
	font-size: 34px;
}

.quote {
	position: absolute;
	top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
   	transform: translateX(-50%) translateY(-50%);
}

/* MUSIC CSS */

#music {
	height: 500px;
	position: relative;
	background-color: rgba(24, 24, 24, 1);
}

.music-title {
	text-align: center;
	font-size: 34px;
}

.song {
	position: absolute;
	top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
   	transform: translateX(-50%) translateY(-50%);
}

.song-link {
	background-color: rgba(0, 52, 70, 1);
	padding: 10px;
	width: 70px;
	position: absolute;
	top: 75%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
   	transform: translateX(-50%) translateY(-50%);
}

/* END OF CONTENT CONTAINER */

/* START OF CONTACT CONTAINER */

.contact-container {
	height: 60px;
	width: 100%;
	position: relative;
	background-color: rgba(0, 52, 70, 1);
}

.contact-item {
	display: inline-block;
	color: #75B9BE;
	font-size: 16px;
	padding: 20px;
	font-weight: lighter;
	left: 50%;
	/*visibility: hidden;*/
}

/* END OF CONTACT CONTAINER */

/* jQuery Manipulation Classes */

.sticky {
    position: fixed;
    z-index: 100;
    opacity: 0.8;
    top: 0;
}

.hover {
	opacity: 1;
}

/* For smaller resolutions */

@media (max-width: 480px) { 
	#header { 
		float: none;
		padding: 20px 0;
	}

	#navbar { 
		margin: 0;
		padding: 0;
	}

	#navbar ul { 
		width: 100%;
		float: none;
	}

	.navbar-items {
		margin: 0;
		background: #efefef;
		display: block;
		margin-bottom: 10px;
	}

	.navbar-items a {
		display: block;
		padding: 10px;
		text-align: center;
	}

	.content { 
		width: 100%; 
		padding-bottom: 20px; 
	}

	#container { 
		padding: 10px;
	}
}

/* OLD STUFF */

.item-description {
	visibility:;
	top: 0;
	background-color: blue;
	height: 500px;
	width: 100%;
	left: 50%;
	-webkit-transform: translateX(35%) translateY(10%);
    -moz-transform: translateX(35%) translateY(10%);
   	transform: translateX(35%) translateY(10%);
}